<a href="https://colab.research.google.com/github/choeuneheol/python-practice/blob/master/%EB%A6%AC%ED%84%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##리턴 

input()함수는 함수를 실행하고 나면 다음과 같은 형태로 함수의 결과를 받아서 사용했습니다. 이와 같은 함수의 결과를 리턴값(Return value)라고 합니다.

In [1]:
#input() 함수의 리턴값을 변수로 저장합니다.
value = input(">")

#출력합니다.
print(value)

>3
3

### 자료 없이 리턴하기
함수 내부에서는 return이라는 키워드를 사용할 수 있습니다. 이 키워드는 함수를
실행했던 위치로 돌아가라는 뜻, 함수가 끝나는 위치를 의미합니다.

In [2]:
#함수를 정의합니다.
def return_test():
  print("A 위치입니다.")
  return #리턴합니다.
  print("B 위치입니다.")

#함수를 호출합니다.
return_test()

A 위치입니다.

###자료와 함께 리턴하기
리턴 뒤에 자료를 입력하면 자료를 가지고 리턴합니다.

In [3]:
# 함수를 정의합니다.
def return_test():
  return 100
  
# 함수를 호출합니다.
value = return_test()
print(value)

100

###아무것도 리턴하지 않기
아무것도 리턴하지 않았을 때

In [4]:
#함수를 정의합니다.
def return_test():
  return

#함수를 호출합니다.
value = return_test()
print(value)

None

## 기본적인 함수의 활용

In [6]:
# 함수를 선언합니다.
def sum_all(start, end):
  #변수를 선언합니다.
  output = 0
  #반복문을 돌려 숫자를 더합니다.
  for i in range(start, end +1):
    output += i
  #리턴합니다.
  return output

#함수를 호출합니다.
print("0 to 100:", sum_all(0,100))
print("0 to 1000:", sum_all(0,1000))
print("50 to 100:", sum_all(50,100))
print("500 to 1000:", sum_all(500,1000))

0 to 100: 5050
0 to 1000: 500500
50 to 100: 3825
500 to 1000: 375750

In [9]:
#함수을 선언합니다.
def sum_all(start=0, end=100, step=1):
  #변수를 선언합니다.
  output = 0
  #반복문을 돌려 숫자를 더합니다.
  for i in range(start, end + 1, step):
    output += i
  #리턴합니다.
  return output

#함수를 호출합니다.
print("A.",sum_all(0,100,10))
print("B.",sum_all(end=100))
print("C.",sum_all(end=100, step=2))

A. 550
B. 5050
C. 2550