<a href="https://colab.research.google.com/github/choeuneheol/python-practice/blob/master/%EC%9E%90%EC%97%B0%EC%96%B4%EC%B2%98%EB%A6%ACDAY4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Language Model

문장에 확률을 할당하는 모델

통계 VS AI

이전 단어들이 주어졌을 때 다음 단어를 예측

주어진 양쪽의 단어들로부터 가운데 비어있는 단어를 예측

Language Modeling

기계 번역(Machine Translation)

P(나는 버스를 탔다) >P(나는 버스를 태운다)

오타 교정 (Spell Correction)

선생님이 교실로 부리나케

P(달려갔다)>P(잘려갔다)

음성인식(Speech Recognition)

P(나는 메롱을 먹는다) < P(나는 메론을 먹는다)

문장의 확률

P(W) = P(w1,w2,...wn)

다음 단어 등장 확률

P(W) = P(wn|w1,...,wn-1)
P(w5|w1,w2,w3,w4)
P(W) = P(w1,w2,w3,w4,...,wn)

비행기를 타려고 공향에 갔는데 지각을 하는 바람에 비행기를 [?]

SLM

통계적 언어 모델(Statistical Language Model, SLM)

조건부 확률

'An adorable little boy is spreading smiles'

P('An adorable little boy is spreading smiles')

p(w1,w2,w3,...,wn)

P(An adorable little boy is spreading smiles)=
P(An) * P(adorable|An) * P(little|An adorable) * P(boy|An adorable little) * P(is|An adorable little boy) * P(spreading|An adorable little boy is) * P(smiles|An adorable little boy is spreading)

P(is|'An adorable little boy') = 30%

P(is|An adorable little boy) = count(An adrable little boy/count(An adorable little boy is)  

### Sparsity problem! 희소성 문제

N-gram

P(is|An adorable little boy) ~ P(is|boy)
P(is|An adorable little boy) ~ P(is|little boy)

unigrams - 앞에글자 두개 나왔을때 예측

bigrams - 앞에글자 두개 나왔을때 예측

trigrams - 앞에글자 세개 나왔을때 예측 

4-grams - 앞에글자 4개가 나왔을때 예측

통상적으로 5-grams 밑으로 사용함

오버피팅과 언더피팅 되지 않게 적절한 부분찾아야함

Sparsity problem
N parameter VS performance
N<=5 

Domain(Marketing text? medical text?)
Generalization
Neural Network

### 한국어 모델

나는 운동을 합니다 체육관에서.

나는 체육관에서 운동을 합니다.

체육관에서 운도을 합니다 나는.

나는 운동을 체육관에서 합니다.  -> 다음 단어 예측 어려움

그녀가, 그녀를, 그녀의, 그녀와, 그녀로, 그녀께서, 그녀처럼 등

굴절어 : I, My, Me, Mine

교착어 : 나는, 내가, 나의, 나를 (어간 + 어미) -> 어미 분리 필요

나는체육관엥서운동을합니다. -> 띄어쓰기 후 학습 필요

###언어 모델 성능 평가

Perplexity 약어로는 PPL 언어모델을 평가하는 지표

Branching factor

###Word Representation

어떤 단어가 특정 문서 내에서 얼마나 중요한 것인지 

문서의 핵심어 추출

검색 엔진에서 검색 결과의 순위 결정

문서들 간의 유사도를 구하는 등의 용도 등

Local Representation VS Distrivuted Representation

puppy -> 1,lovely -> 2, cute -> 3
puppy -> cute&lovely

In [25]:
!pip install konlpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: konlpy in /usr/local/lib/python3.7/dist-packages (0.6.0)
Requirement already satisfied: JPype1>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.4.0)
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.2.6)
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.21.6)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from JPype1>=0.7.0->konlpy) (4.2.0)

In [26]:
from konlpy.tag import Okt

In [27]:
### Bag of Words

okt = Okt()
def build_bag_of_words(document):
  document = document.replace('.','')
  tokenized_document = okt.morphs(document)
  word_to_index = {}
  bow=[]
  for word in tokenized_document:
    if word not in word_to_index.keys():
      word_to_index[word] = len(word_to_index)
      bow.insert(len(word_to_index)-1,1)
    else:
      index = word_to_index.get(word)
      bow[index] = bow[index]+1
  return word_to_index, bow

In [28]:
doc1 = "정부가 발표하는 물가상승률과 소비자가 느끼는 물가상승률은 다르다."
vocab,bow = build_bag_of_words(doc1)
print('vocabulary:',vocab)
print('bag of words vector:', bow)
doc2 = '소비자는 주로 소비하는 상품을 기준으로 물가상승률을 느낀다.'
vocab, bow = build_bag_of_words(doc2)
print('vocabulary:', vocab)
print('bag of words vector:', bow)

vocabulary: {'정부': 0, '가': 1, '발표': 2, '하는': 3, '물가상승률': 4, '과': 5, '소비자': 6, '느끼는': 7, '은': 8, '다르다': 9}
bag of words vector: [1, 2, 1, 1, 2, 1, 1, 1, 1, 1]
vocabulary: {'소비자': 0, '는': 1, '주로': 2, '소비': 3, '하는': 4, '상품': 5, '을': 6, '기준': 7, '으로': 8, '물가상승률': 9, '느낀다': 10}
bag of words vector: [1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1]

In [29]:
doc3 = doc1 + ''+doc2
vocab, bow = build_bag_of_words(doc3)
print('vocabulary:',vocab)
print('bag of words vector:',bow)

vocabulary: {'정부': 0, '가': 1, '발표': 2, '하는': 3, '물가상승률': 4, '과': 5, '소비자': 6, '느끼는': 7, '은': 8, '다르다': 9, '는': 10, '주로': 11, '소비': 12, '상품': 13, '을': 14, '기준': 15, '으로': 16, '느낀다': 17}
bag of words vector: [1, 2, 1, 2, 3, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1]

In [30]:
from sklearn.feature_extraction.text import CountVectorizer
corpus = ['you know I want your love. because I love you.']
vector = CountVectorizer()
print('bag of words vector:', vector.fit_transform(corpus).toarray())
print('vocabulary:',vector.vocabulary_)

bag of words vector: [[1 1 2 1 2 1]]
vocabulary: {'you': 4, 'know': 1, 'want': 3, 'your': 5, 'love': 2, 'because': 0}

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.corpus import stopwords

In [32]:
text = ["Family is not an important thing. It's everything."]
vect = CountVectorizer(stop_words=["the","a","an","is","not"])
print('bag of words vector:',vect.fit_transform(text).toarray())
print('vocabulary:',vect.vocabulary_)
vect=CountVectorizer(stop_words="english")
print('bag of words vector:',vect.fit_transform(text).toarray())
print('vocabulary:', vect.vocabulary_)
import nltk
nltk.download('stopwords')
nltk_stop_words = stopwords.words("english")
vect = CountVectorizer(stop_words=nltk_stop_words)
print('bag of words vector:',vect.fit_transform(text).toarray())
print('vocabulary:',vect.vocabulary_)

bag of words vector: [[1 1 1 1 1]]
vocabulary: {'family': 1, 'important': 2, 'thing': 4, 'it': 3, 'everything': 0}
bag of words vector: [[1 1 1]]
vocabulary: {'family': 0, 'important': 1, 'thing': 2}
bag of words vector: [[1 1 1 1]]
vocabulary: {'family': 1, 'important': 2, 'thing': 3, 'everything': 0}

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [33]:
# ###Document Term Matrix
# 다수의 document에 등장하는 각 단어들의 빈도를 행렬로 표현한 것
# doc1 : 먹고 싶은 사과
# doc2 : 먹고 싶은 바나나
# doc3 : 길고 노란 바나나 바나나
# doc4 : 저는 과일이 좋아요

SyntaxError: ignored

Term Frquency-Inverse Document Frequency

DTM 내의 각 단어들마다 중요한 정도를 가중치 (DTM -> TF-IDF 

가중치 부여)

문서의 유사도, 검색 결과의 중요도, 특정 단어의 중요도

TF-IDF :TF*IDF(document:d, term:t, total number of document:n)

tf(d,t) : 특정 문서 d에서의 특정 단어의 t의 등장 횟수(DTM)

df(t) : 특정 단어 t가 등장한 문서의 수 

idf(d,t) : df(t)에 반비례하는 수,

In [35]:
###TF-IDF
import pandas as pd
from math import log

docs = ['먹고 싶은 사과',
        '먹고 싶은 바나나',
        '길고 노란 바나나 바나나',
        '저는 과일이 좋아요']
vocab= list(set(w for doc in docs for w in doc.split()))
vocab.sort()

In [62]:
N = len(docs)
def tf(t,d):
  return d.count(t)
def idf(t):
  df = 0
  for doc in docs:
    df += t in doc
  return log(N/(df+1))
def tfidf(t,d):
  return tf(t,d)*idf(t)

In [57]:
result=[]
for i in range(N):
  result.append([])
  d = docs[i]
  for j in range(len(vocab)):
    t = vocab[j]
    result[-1].append(tf(t,d))
tf_=pd.DataFrame(result,columns=vocab)

In [40]:
tf_

   과일이  길고  노란  먹고  바나나  사과  싶은  저는  좋아요
0    0   0   0   1    0   1   1   0    0
1    0   0   0   1    1   0   1   0    0
2    0   1   1   0    2   0   0   0    0
3    1   0   0   0    0   0   0   1    1

In [63]:
result=[]
for i in range(N):
  result.append([])
  d = docs[i]
  for j in range(len(vocab)):
    t = vocab[j]
    result[-1].append(tfidf(t,d))
tfidf_=pd.DataFrame(result, columns=vocab)
tfidf_

,과일이,길고,노란,먹고,바나나,사과,싶은,저는,좋아요
0,0.000000,0.000000,0.000000,0.287682,0.000000,0.693147,0.287682,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.287682,0.287682,0.000000,0.287682,0.000000,0.000000
2,0.000000,0.693147,0.693147,0.000000,0.575364,0.000000,0.000000,0.000000,0.000000
3,0.693147,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.693147,0.693147

In [66]:
result=[]
for j in range(len(vocab)):
  t=vocab[j]
  result.append(idf(t))
idf_=pd.DataFrame(result,index=vocab,columns=["IDF"])
idf_

          IDF
과일이  0.693147
길고   0.693147
노란   0.693147
먹고   0.287682
바나나  0.287682
사과   0.693147
싶은   0.287682
저는   0.693147
좋아요  0.693147

In [43]:
from sklearn.feature_extraction.text import TfidfVectorizer
corpus=['you know I want your love',
        'I like you',
        'what should I do',
        ]
tfidfv = TfidfVectorizer()
#코퍼스로부터 각 단어의 빈도수를 기록
print(tfidfv.fit_transform(corpus).toarray())
# 각 단어와 맵핑된 인덱스 출력
print(tfidfv.vocabulary_)

[[0.         0.46735098 0.         0.46735098 0.         0.46735098
  0.         0.35543247 0.46735098]
 [0.         0.         0.79596054 0.         0.         0.
  0.         0.60534851 0.        ]
 [0.57735027 0.         0.         0.         0.57735027 0.
  0.57735027 0.         0.        ]]
{'you': 7, 'know': 1, 'want': 5, 'your': 8, 'love': 3, 'like': 2, 'what': 6, 'should': 4, 'do': 0}

In [69]:
###Vector Similarity

# 문서1 : 저는 사과 좋아요
# 문서2 : 저는 바나나 좋아요
# 문서3 : 저는 바나나 좋아요 저는 바나나 좋아요

import numpy as np
from numpy import dot
from numpy.linalg import norm
def cos_sim(A,B):
  return dot(A,B)/(norm(A)*norm(B))  
doc1 = np.array([0,1,1,1])
doc2 = np.array([1,0,1,1])
doc3 = np.array([2,0,2,2])
print('문서 1과 문서2의 유사도:',cos_sim(doc1,doc2))
print('문서 1과 문서3의 유사도:',cos_sim(doc1,doc3))
print('문서 2과 문서3의 유사도:',cos_sim(doc2,doc3))

문서 1과 문서2의 유사도: 0.6666666666666667
문서 1과 문서3의 유사도: 0.6666666666666667
문서 2과 문서3의 유사도: 1.0000000000000002

In [82]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
# 파일 읽고 상위 2개 행만 보기

In [91]:
df = pd.read_csv('movies_metadata.csv')
df.head(2)

#상위 2만개의 샘플을 data에 저장
data = df.head(20000)
#overview 열에 존재하는 모든 결측값 수 확인
data['overview'].isnull().sum()
#결측값을 빈 값으로 대체
data['overview'] = data['overview'].fillna('')
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix=tfidf.fit_transform(data['overview'])
print('TF-IDF 행렬의 크기(shape):',tfidf_matrix.shape)
#20000개의 문서 벡터에 대해서 상호 간의 코사인 유사도 확인
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
print('코사인 유사도 연산 결과:',cosine_sim.shape)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

TF-IDF 행렬의 크기(shape): (20000, 47487)
코사인 유사도 연산 결과: (20000, 20000)

In [100]:
def get_recommendations(title, sim = cosine_sim):
  idx = data[data['title'] == title].index[0]
  sim_scores = list(enumerate(cosine_sim[idx]))
  sim_scores = sorted(sim_scores, key=lambda x:x[1], reverse=True)
  sim_scores = sim_scores[1:11]
  movie_ind = [i[0] for i in sim_scores]
  return data.title.iloc[movie_ind]

In [93]:
data.title[0]

'Toy Story'

In [94]:
data[data['title']== 'Toy Story'].index[0]

0

In [96]:
cosine_sim[0]

array([1.        , 0.01575748, 0.        , ..., 0.        , 0.        ,
       0.        ])

In [99]:
#유사도에 따라 영화들을 정렬한다
sorted(list(enumerate(cosine_sim[0])),key=lambda x:x[1], reverse=True)[1:11]

[(15348, 0.5258229300737997),
 (2997, 0.462638821864108),
 (10301, 0.2795541150488133),
 (8327, 0.20068589066985557),
 (1071, 0.1827296872275654),
 (11399, 0.15689199223985253),
 (1932, 0.15273436907628185),
 (3057, 0.14319886672358997),
 (485, 0.13751067912693815),
 (11606, 0.133606616102742)]

In [ ]:

# 영화의 타이틀을 사용해 해당 영화의 인덱스를 받아온다

#해당 영화와 모든 영화와의 유사도를 가져온다

#유사도에 따라 영화들을 정렬한다

#가장 유사한 10개의 영화를 받아온다.

#가장 유사한 10개의 영화의 인덱스를 얻는다.

#가장 유사한 10개의 영화의 제목을 리턴한다.

###Euclidean distance

유클리드 거리(Euclidean distance) / L2 distance

###Jaccard similarity

In [102]:
doc1 = "apple banana everyone like likey watch card holder"
doc2 = "apple banana coupon passport love you"

# 토큰화
tokenized_doc1 = doc1.split()
tokenized_doc2 = doc2.split()

print('문서1 :',tokenized_doc1)
print('문서2 :',tokenized_doc2)
union = set(tokenized_doc1)|(set(tokenized_doc2))
intersection = set(tokenized_doc1)&(set(tokenized_doc2))
print('자카드 유사도 :',len(intersection)/len(union))

문서1 : ['apple', 'banana', 'everyone', 'like', 'likey', 'watch', 'card', 'holder']
문서2 : ['apple', 'banana', 'coupon', 'passport', 'love', 'you']
자카드 유사도 : 0.16666666666666666