<a href="https://colab.research.google.com/github/choeuneheol/python-practice/blob/master/%ED%98%BC%EA%B3%B5%ED%8C%8C(%ED%8A%9C%ED%94%8C%2C%EB%9E%8C%EB%8B%A4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#튜플

함수와 함께 많이 사용되는 리스트와 비슷한 자료형으로, 리스트와 다른 점은 한번 결정된
요소는 바꿀수 없다는 것이다.

In [2]:
tuple_test = (10, 20, 30)

tuple_test[0]

10

In [3]:
tupel_test[0]= 1 
#튜플은 내부요소 변경이 불가하다

NameError: ignored

In [4]:
#괄호 없는 튜플

#리스트와 튜플의 특이한사용

[a,b] = [10, 20]

(c,d) = (10, 20)

#출력합니다.
print("a:", a)
print("b:", b)
print("c:", c)
print("d:", d)

a: 10
b: 20
c: 10
d: 20

In [ ]:
#튜플은 특이한게 괄호를 생략해도 튜플로 인식하는 경우는 괄호를 생략해도된다

In [5]:
#괄호가 없는 튜플

tuple_test = 10, 20, 30, 40
print("# 괄호가 없는 투플의 값과 자료형 출력")
print("tuple_test:",tuple_test)
print("type(tuple_test):",type(tuple_test))
print()

#괄호가 없는 튜플 활용
a, b, c, = 10, 20, 30
print("# 괄호가 없는 튜플을 활용한 할당")
print("a:",a)
print("b:",b)
print("c:",c)

# 괄호가 없는 투플의 값과 자료형 출력
tuple_test: (10, 20, 30, 40)
type(tuple_test): <class 'tuple'>

# 괄호가 없는 튜플을 활용한 할당
a: 10
b: 20
c: 30

In [6]:
#변수의 값을 교환하는 튜플

a,b = 10, 20

print("# 교환 전 값")
print("a:", a)
print("b:", b)
print()

#값을 교환합니다.
a, b = b, a

print("# 교환 후 값")
print("a:", a)
print("b:", b)
print()

# 교환 전 값
a: 10
b: 20

# 교환 후 값
a: 20
b: 10

#튜플과 함수

In [7]:
#함수를 선언합니다.

def test():
  return (10,20)

#여러 개의 값을 리턴받습니다.

a,b = test()

#출력합니다.

print("a:",a)
print("b:",b)

a: 10
b: 20

튜플도 리스트처럼 +와 * 연산자 등을 활용할 수 있습니다. 하지만 그런 것들은 리스트로 작성하는 

것과는 큰 차이가 없어서 튜플을 사용하는 경우는 거의 없습니다.

#람다
요즘 프로그래밍 언어에는 함수라는 '기능'을 매개변수로 전달하는 코드를 많이 사용함

이런코드를 좀더 효율적으로 작성할 수 있도록 람다기능 제공

In [8]:
#함수를 매개 변수로 함수 전달하기
#매개변수로 받은 함수를 10번 호출하는 함수
def call_10_times(func):
  for i in range(10):
    func()

#간단한 출력하는 함수
def print_hello():
  print("안녕하세요")

#조합하기
call_10_times(print_hello)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

#filter()함수와 map() 함수
함수를 매개변수로 전달하는 대표적인 표준 함수로 map()와 filter()함수가 있음

map()함수는 리스트의 요소를 함수에 넣고 리턴된 값으로 새로운 리스트를 구성해주는 함수

#map(함수,리조트)

filter()함수는 리스트의 요소를 함수에 넣고 리턴된 값이 True인 것으로, 새로운 리스트를 구성해줌

#filter(함수,리스트)

In [11]:
#함수를 선언합니다.
def power(item):
  return item * item
def under_3(item):
  return item <3

#변수를 선언합니다.
list_input_a=[1, 2, 3, 4, 5]

#map() 함수를 사용합니다.
output_a = map(power, list_input_a)
print("# map() 함수의 실행결과")
print("map(power, list_input_a):", output_a)
print("map(power, list_input_a):", list(output_a))
print()

#filter() 함수를 사용합니다.
output_b = filter(under_3, list_input_a)
print("#filter() 함수의 실행결과")
print("filter(under_3, list_input_a):",output_b)
print("filter(under_3, list_input_a):",list(output_b))

# map() 함수의 실행결과
map(power, list_input_a): <map object at 0x7f2058d7c2d0>
map(power, list_input_a): [1, 4, 9, 16, 25]

#filter() 함수의 실행결과
filter(under_3, list_input_a): <filter object at 0x7f2058e67990>
filter(under_3, list_input_a): [1, 2]

#람다의 개념
간단한 함수를 쉽게 선언하는 방법입니다!

lamdba 매개변수: 리턴값

In [12]:
#함수를 선언합니다
power = lambda x: x * x
under_3 = lambda x: x < 3

#변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]

#map() 함수를 사용합니다.
output_a = map(power, list_input_a)
print("#map() 함수의 실행결과")
print("map(power, list_input_a):",output_a)
print("map(power, list_input_a):", list(output_a))
print()

#filter() 함수를 사용합니다.
output_b = filter(under_3, list_input_a)
print("# filter() 함수의 실행결과")
print("filter(under_3, list_input_a):",output_b)
print("filter(under_3, list_input_a):",list(output_b))

#map() 함수의 실행결과
map(power, list_input_a): <map object at 0x7f2058d7b810>
map(power, list_input_a): [1, 4, 9, 16, 25]

# filter() 함수의 실행결과
filter(under_3, list_input_a): <filter object at 0x7f2058d7be90>
filter(under_3, list_input_a): [1, 2]

In [13]:
#인라인 람다
#변수를 선언합니다.

list_input_a = [1, 2, 3, 4, 5]

#map() 함수를 사용합니다.
output_a = map(lambda x: x * x, list_input_a)
print("#map() 함수의 실행결과")
print("map(power, list_input_a):", output_a)
print("map(power, list_input_a):", list(output_a))
print()

#filter() 함수를 사용합니다.
output_b = filter(lambda x: x<3, list_input_a)
print("# filter() 함수의 실행결과")
print("filter(under_3, list_input_a):",output_b)
print("filter(under_3, list_input_a):",list(output_b))

#map() 함수의 실행결과
map(power, list_input_a): <map object at 0x7f2058d89ed0>
map(power, list_input_a): [1, 4, 9, 16, 25]

# filter() 함수의 실행결과
filter(under_3, list_input_a): <filter object at 0x7f2058e39c90>
filter(under_3, list_input_a): [1, 2]

In [ ]:
#매개변수가 여러개인 람다도 가능

#lambda x, y: x * y